@import "tailwindcss";

:root {
	--font-type: "Poppins";
	--color-primary: hsl(0, 68%, 56%);
	--color-secondary: hsl(144, 100%, 37%);
}

@theme {
	--font-type: var(--font-type);
	--color-primary: var(--color-primary);
	--color-secondary: var(--color-secondary);
}

body {
	font-family: var(--font-type);
}

.shadow {
	box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
}
